<% layout('layout') %>

<h1><%= title %></h1>

<div class="row">
  <div class="col-sm-12">
    <p>Refer <a href="https://github.com/videojs/videojs-contrib-hls#getting-started" target="_blank">https://github.com/videojs/videojs-contrib-hls#getting-started</a>.</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <video id=example-video width=600 height=300 class="video-js vjs-default-skin" controls>
      <source src="//video-dev.github.io/streams/x36xhzz/x36xhzz.m3u8"
              type="application/x-mpegURL">
    </video>
    <script>
      // Refer: https://github.com/videojs/videojs-contrib-hls#hlsxhr
      // videojs.Hls.xhr.beforeRequest = function(options) {
      //   /*
      //    * Modifications to requests that will affect every player.
      //    */
      //   console.log('beforeRequest options', options);
      //
      //   return options;
      // };


      var player = videojs('example-video');
      player.play();
    </script>
  </div>
</div>

