<% layout('layout') %>


<h1><%= title %></h1>

<div class="row">
  <div class="col-sm-12">
    <ul>
      <li>
        <a href="foobar://">foobar://</a>
      </li>
      <li>
        <a href="foobar:\/\/">foobar:\/\/</a>
      </li>
      <li>
        <a href="foobar:">foobar:</a>
      </li>
    </ul>
  </div>
</div>

