<% layout('layout') %>

<h1><%= title %></h1>

<div class="row">
  <div class="col-sm-12">
    <p>Refer <a href="http://docs.videojs.com/docs/guides/setup.html#step-2-add-an-html5-video-tag-to-your-page-" target="_blank">http://docs.videojs.com/docs/guides/setup.html#step-2-add-an-html5-video-tag-to-your-page-</a>.</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered"
           controls preload="auto" width="640" height="264"
           poster="//vjs.zencdn.net/v/oceans.png"
           data-setup='{"example_option":true}'>
      <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
      <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm">
      <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg">
      <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>
  </div>
</div>

