<% layout('layout') %>

<div class="row">
  <div class="col-md-6">
    <h2>iOS Safari</h2>
    <div class="list-group">
      <a class="list-group-item" href="/ios/web_audio_1">Web Audio 1</a>
      <a class="list-group-item" href="/ios/web_audio_2">Web Audio 2</a>
      <a class="list-group-item" href="/ios/web_audio_3">Web Audio 3</a>
      <a class="list-group-item" href="/ios/web_audio_4">Web Audio 4</a>
    </div>

    <h2>JS Class Inherit</h2>
    <div class="list-group">
      <a class="list-group-item" href="/js/inherit1-1">Interit 1-1</a>
      <a class="list-group-item" href="/js/inherit1-2">Interit 1-2</a>
      <a class="list-group-item" href="/js/inherit1-3">Interit 1-3</a>
      <a class="list-group-item" href="/js/inherit2-1">Interit 2-1</a>
      <a class="list-group-item" href="/js/inherit3-1">Interit 3-1</a>
    </div>

    <h2>Timeline</h2>
    <div class="list-group">
      <a class="list-group-item" href="/timeline/vis">Vis</a>
      <a class="list-group-item" href="/timeline/vis_time_format">Vis Time Format</a>
      <a class="list-group-item" href="/timeline/vis_time_bar">Vis Time Bar</a>
    </div>

    <h2>Canvas</h2>
    <div class="list-group">
      <a class="list-group-item" href="/canvas/draw">Draw</a>
      <a class="list-group-item" href="/canvas/transparency">Transparency</a>
      <a class="list-group-item" href="/canvas/stretch">Stretch</a>
      <a class="list-group-item" href="/canvas/circle">Circle</a>
      <a class="list-group-item" href="/canvas/translate">Translate</a>
      <a class="list-group-item" href="/canvas/trim">Trim</a>
      <a class="list-group-item" href="/canvas/text">Text</a>
      <a class="list-group-item" href="/canvas/download">Download</a>
    </div>

    <h2>Cache Key/Value Store</h2>
    <div class="list-group">
      <a class="list-group-item" href="/cache/redis/get">Redis Get</a>
      <a class="list-group-item" href="/cache/ioredis/get">ioredis Get</a>
      <a class="list-group-item" href="/cache/ioredis/set">ioredis Set</a>
      <a class="list-group-item" href="/cache/node-memcached-client/get">node-memcached-client Get</a>
      <a class="list-group-item" href="/cache/memjs/get">memjs Get</a>
      <a class="list-group-item" href="/cache/memjs/set">memjs Set</a>
    </div>
  </div>

  <div class="col-md-6">
    <h2>Media API</h2>
    <div class="list-group">
      <a class="list-group-item" href="/webrtc/simple_cam">SimpleCam for Chrome</a>
    </div>

    <h2>Preloading</h2>
    <div class="list-group">
      <a class="list-group-item" href="/js/preloader-rg">Preloader</a>
      <a class="list-group-item" href="/js/pxloader">PXLOADER</a>
      <a class="list-group-item" href="/js/preloadjs">PreloadJS</a>
    </div>

    <h2>CSS</h2>
    <div class="list-group">
      <a class="list-group-item" href="/css/animation">CSS Animation</a>
    </div>

    <h2>DOM</h2>
    <div class="list-group">
      <a class="list-group-item" href="/dom/style">DOM style</a>
      <a class="list-group-item" href="/dom/listener">DOM EventListener</a>
    </div>

    <h2>Agile CRM</h2>
    <div class="list-group">
      <a class="list-group-item" href="/agilecrm/api">Agile CRM API</a>
    </div>

    <h2>hls.js</h2>
    <div class="list-group">
      <a class="list-group-item" href="/hlsjs/getting_started">Getting Started</a>
      <a class="list-group-item" href="/hlsjs/play">Play</a>
    </div>

    <h2>Video.js</h2>
    <div class="list-group">
      <a class="list-group-item" href="/videojs/quick_start">Quick Start</a>
      <a class="list-group-item" href="/videojs/quick_start_without_auto">Quick Start without auto setup</a>
      <a class="list-group-item" href="/videojs/guide_setup">Guide: Setup</a>
      <a class="list-group-item" href="/videojs/guide_setup_centered">Guide: Setup with play button centered</a>
      <a class="list-group-item" href="/videojs/guide_setup_dynamically">Guide: Setup dynamically loaded</a>
      <a class="list-group-item" href="/videojs/contrib_hls">videojs-contrib-hls</a>
      <a class="list-group-item" href="/videojs/design_resizing">Design: Resizing</a>
      <a class="list-group-item" href="/videojs/events">Events</a>
      <a class="list-group-item" href="/videojs/v7_quick_start">v7 Quick Start</a>
      <a class="list-group-item" href="/videojs/v7_getting_started">v7 Getting Started</a>
      <a class="list-group-item" href="/videojs/v7_http_streaming">v7 videojs-http-streaming</a>
    </div>

    <h2>Stripe</h2>
    <div class="list-group">
      <a class="list-group-item" href="/stripe/checkout">Checkout</a>
      <a class="list-group-item" href="/stripe/checkout_price">Checkout without price</a>
      <a class="list-group-item" href="/stripe/charge">Charge</a>
      <a class="list-group-item" href="/stripe/subscription">Subscription</a>
      <a class="list-group-item" href="/stripe/elements">Elements</a>
    </div>
  </div>
</div>

