<% layout('layout') %>

<h2>Indexs</h2>
<ul>
  <li><a href="/quick_start">Quick Start</a></li>
  <li><a href="/quick_start_without_auto">Quick Start without auto setup</a></li>
  <li><a href="/guide_setup">Guide: Setup</a></li>
  <li><a href="/guide_setup_centered">Guide: Setup with play button centered</a></li>
  <li><a href="/guide_setup_dynamically">Guide: Setup dynamically loaded</a></li>
  <li><a href="/contrib_hls">videojs-contrib-hls</a></li>
</ul>

