body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.video-width-fitting {
  width: 100% !important;
}


@keyframes animation-fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

.animation-fadeout {
  animation-name: animation-fadeout;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}

