<% layout('layout') %>

<% block('additional_javascript_tags').append('<script src="https://js.stripe.com/v3/"></script>') %>

<h1><%= title %></h1>

<div class="row">
  <div class="col-sm-6">
    <form action="javascript:void(0);">
      <div class="form-group">
        <label>CardHolder Nmae:</label>
        <input id="cardholder-name" type="text">
      </div>

      <div class="form-row form-group">
        <!-- placeholder for Elements -->
        <div id="card-element"></div>
      </div>

      <div class="form-group">
        <button id="card-button">Submit Payment</button>
      </div>
    </form>
  </div>
</div>

<div class="row" style="margin-top: 20px;">
  <div class="col-sm-12">
    <% if (data.error) { %>
      <label>API call Failed</label>
      <pre class="bg-danger"><code><%= data.error %></code></pre>
    <% } %>

    <% if (data.result) { %>
      <label>API call succeeded</label>
      <pre class="bg-success"><code><%= data.result %></code></pre>
    <% } %>
  </div>
</div>


<script type="text/javascript">

  var stripe = Stripe('pk_test_7fvh7dT8TfcKxZa2USG3zEOy');

  var elements = stripe.elements();
  var cardElement = elements.create('card');
  cardElement.mount('#card-element');


  var cardholderName = document.getElementById('cardholder-name');
  var cardButton = document.getElementById('card-button');

  cardButton.addEventListener('click', function(ev) {
    stripe.createPaymentMethod('card', cardElement, {
      billing_details: {name: cardholderName.value}
    }).then(function(result) {
      console.log('createPaymentMethod:result', result);

      if (result.error) {
        // Show error in payment form
        console.error(result.error);

      } else {
        // TODO
        // Otherwise send paymentMethod.id to your server (see Step 2)
        fetch('/ajax/confirm_payment', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ payment_method_id: result.paymentMethod.id })
        }).then(function(result) {
          // TODO
          // Handle server response (see Step 3)
          result.json().then(function(json) {
            handleServerResponse(json);
          })
        });
      }
    });
  });

</script>

