<% layout('layout') %>

<% block('additional_javascript_tags').append('<script src="https://js.stripe.com/v3/"></script>') %>
<% block('additional_javascript_tags').append('<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>') %>

<% block('body_javascript_tags').append('<script src="/javascripts/stripe/intents_app.js"></script>') %>

<div ng-app="app" ng-controller="StripeIntentsController as root_ctrl">

  <h1><%= title %></h1>

  <div class="row">
    <div class="col-sm-6">
      <form action="javascript:void(0);">
        <div class="form-group">
          <label>CardHolder Nmae:</label>
          <input id="cardholder-name" type="text" ng-model="cardholder_name">
        </div>

        <div class="form-row form-group">
          <!-- placeholder for Elements -->
          <div id="card-element"></div>
        </div>

        <div class="form-group">
          <button ng-click="on_click($event)">Submit Payment</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row" style="margin-top: 20px;">
    <div class="col-sm-12">
      <% if (data.error) { %>
        <label>API call Failed</label>
        <pre class="bg-danger"><code><%= data.error %></code></pre>
      <% } %>

      <% if (data.result) { %>
        <label>API call succeeded</label>
        <pre class="bg-success"><code><%= data.result %></code></pre>
      <% } %>
    </div>
  </div>

</div>

