<% layout('layout') %>

<h1><%= title %></h1>

<div class="row">
  <div class="col-sm-12">
    <h3>Try background-repeat and background-position and background-size</h3>
    <div style="width: 30%; height: 350px; background-repeat: repeat; background-size: 100% 100%; background-position: 100px 0; display: inline-block; background-image: url('/images/1463732339_bird.png');"></div>
    <div style="width: 30%; height: 350px; background-repeat: repeat; background-size: 100% 100%; background-position: 25% 0; display: inline-block; background-image: url('/images/1463732339_bird.png');"></div>
    <div style="width: 30%; height: 350px; background-repeat: repeat-x; background-size: 80% 80%; background-position: 50% 0; display: inline-block; background-image: url('/images/1463732339_bird.png');"></div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3>Try background-repeat and background-position</h3>
    <div style="width: 30%; height: 350px; background-repeat: repeat; background-position: 0px 0px; display: inline-block; background-image: url('/images/1463732339_bird.png');"></div>
    <div style="width: 30%; height: 350px; background-repeat: repeat-x; background-position: 200px 0px; display: inline-block; background-image: url('/images/1463732339_bird.png');"></div>
    <div style="width: 30%; height: 350px; background-repeat: repeat-y; background-position: 0px 200px; display: inline-block; background-image: url('/images/1463732339_bird.png');"></div>
  </div>
</div>

