<% layout('layout') %>

<h1><%= title %></h1>

<div class="row">
  <div class="col-sm-12">
    <form method="post" action="/pdf/pdfkit_1">
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-12">
    <% if (data) { %>
      <pre class="bg-info"><code><%= beautify(JSON.stringify(data), { indent_size: 2 }) %></code></pre>
    <% } %>
  </div>
</div>

