<% layout('layout') %>

<% block('additional_javascript_tags').append('<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>') %>


<h1><%= title %></h1>


<script type="text/javascript">
  var requireQueue = function(modules, callback) {
    function load(queue, results) {
      if (queue.length) {
        require([queue.shift()], function(result) {
          results.push(result);
          load(queue, results);
        });
      } else {
        callback.apply(null, results);
      }
    }

    load(modules, []);
  };

  requireQueue([
    '/javascripts/loading/first.js',
    '/javascripts/loading/second.js'
  ], function(results) {
    console.log('main', LOADING_FIRST, LOADING_SECOND);
    loading_func_1st('main');
    loading_func_2nd('main');
  });
</script>

