<% layout('layout') %>


<h1><%= title %></h1>


<script type="text/javascript" src="/javascripts/loading/first.js" defer></script>
<script type="text/javascript" src="/javascripts/loading/second.js" defer></script>

<script type="text/javascript" defer>
  console.log('main', LOADING_FIRST, LOADING_SECOND);
  loading_func_1st('main');
  loading_func_2nd('main');
</script>

