<% layout('layout') %>

<h1><%= title %></h1>

<p>
  Refer: <a href="https://qiita.com/cocottejs/items/e75f751c7aa8a7361aab"></a>https://qiita.com/cocottejs/items/e75f751c7aa8a7361aab
  <br>
  正しく動作する例 (リンククリック時にHttpRequestを準備し、再生をクリックでサウンド再生)
</p>

<a id="Play" class="btn btn-success" href="javascript:void(0);" onclick="clickPlay();">読み込み</a>
<a id="Pause" class="btn btn-info" href="javascript:void(0);">停止</a>


<script type="text/javascript">

  //iOS版
  var request, source, context;
  var status = 0;

  function clickPlay() {
    if (status == 0) {
      status = 1;
      request = new XMLHttpRequest();
      request.open("GET", "/sounds/amachamusic_emerald.mp3", true);
      request.responseType = "arraybuffer";
      request.onload = completeOnLoad;
      request.send();
    }
    else if (status == 2) {
      window.AudioContext = window.AudioContext || window.webkitAudioContext;
      context = new AudioContext();

      source = context.createBufferSource();

      // オーディオをデコード
      context.decodeAudioData(request.response, function (buf) {
        source.buffer = buf;
        source.loop = false;
        source.connect(context.destination);
        source.start(0);
      });
    }
  }

  /*
  //下記では動作しないので注意
    else if (status == 2) {
      window.AudioContext = window.AudioContext || window.webkitAudioContext;
      context = new AudioContext();

      source = context.createBufferSource();

      // オーディオをデコード
      context.decodeAudioData(request.response, function (buf) {
        source.buffer = buf;
        source.loop = false;
      });

      source.connect(context.destination);
      source.start(0);
    }
  */

  function completeOnLoad() {
    status = 2;
    var elem = document.getElementById("Play");
    elem.innerText = "再生";
  }

  var elem = document.getElementById("Pause");
  elem.addEventListener("click", playStop, false);

  function playStop() {
    source.stop();
  }

</script>

