<% layout('layout') %>

<h1><%= title %></h1>

<div class="row">
  <div class="col-sm-3">
    <h4>200:20</h4>
    <canvas id="canvas"></canvas>
  </div>
  <div class="col-sm-3">
    <h4>200:40</h4>
    <canvas id="canvas_2"></canvas>
  </div>
  <div class="col-sm-3">
    <h4>200:100</h4>
    <canvas id="canvas_3"></canvas>
  </div>
  <div class="col-sm-3">
    <h4>200:150</h4>
    <canvas id="canvas_4"></canvas>
  </div>
</div>

<script type="text/javascript">
  (function() {
    var canvas = document.querySelector('#canvas');
    canvas.style.width = '200px';
    canvas.style.height = '200px';

    canvas.width = 20;
    canvas.height = 20;
    var unit = 10;
    var context = canvas.getContext('2d');
    context.fillStyle = "blue";
    context.fillRect(0, 0, unit, unit);
    context.fillStyle = "red";
    context.fillRect(unit, 0, unit, unit);
    context.fillStyle = "green";
    context.fillRect(0, unit, unit, unit);
    context.fillStyle = "yellow";
    context.fillRect(unit, unit, unit, unit);
  })();

  (function() {
    var canvas = document.querySelector('#canvas_2');
    canvas.style.width = '200px';
    canvas.style.height = '200px';

    canvas.width = 40;
    canvas.height = 40;
    var unit = 20;
    var context = canvas.getContext('2d');
    context.fillStyle = "blue";
    context.fillRect(0, 0, unit, unit);
    context.fillStyle = "red";
    context.fillRect(unit, 0, unit, unit);
    context.fillStyle = "green";
    context.fillRect(0, unit, unit, unit);
    context.fillStyle = "yellow";
    context.fillRect(unit, unit, unit, unit);
  })();

  (function() {
    var canvas = document.querySelector('#canvas_3');
    canvas.style.width = '200px';
    canvas.style.height = '200px';

    canvas.width = 100;
    canvas.height = 100;
    var unit = 50;
    var context = canvas.getContext('2d');
    context.fillStyle = "blue";
    context.fillRect(0, 0, unit, unit);
    context.fillStyle = "red";
    context.fillRect(unit, 0, unit, unit);
    context.fillStyle = "green";
    context.fillRect(0, unit, unit, unit);
    context.fillStyle = "yellow";
    context.fillRect(unit, unit, unit, unit);
  })();

  (function() {
    var canvas = document.querySelector('#canvas_4');
    canvas.style.width = '200px';
    canvas.style.height = '200px';

    canvas.width = 150;
    canvas.height = 150;
    var unit = 75;
    var context = canvas.getContext('2d');
    context.fillStyle = "blue";
    context.fillRect(0, 0, unit, unit);
    context.fillStyle = "red";
    context.fillRect(unit, 0, unit, unit);
    context.fillStyle = "green";
    context.fillRect(0, unit, unit, unit);
    context.fillStyle = "yellow";
    context.fillRect(unit, unit, unit, unit);
  })();
</script>

