<% layout('layout') %>

<h1><%= title %></h1>

<div class="row">
  <div class="col-sm-4">
    <h4>Use rgba</h4>
    <canvas id="canvas"></canvas>
  </div>
  <div class="col-sm-4">
    <h4>Use globalAlpha</h4>
    <canvas id="canvas_2"></canvas>
  </div>
  <div class="col-sm-4">
    <h4>Change globalAlpha value</h4>
    <canvas id="canvas_3"></canvas>
  </div>
</div>

<script type="text/javascript">
  (function() {
    var canvas = document.querySelector('#canvas');
    canvas.width = 200;
    canvas.height = 200;

    var context = canvas.getContext('2d');

    context.fillStyle = 'rgba(0, 0, 255, 0.5)';
    context.fillRect(0, 0, 100, 100);
    context.fillStyle = 'rgba(255, 0, 0, 0.5)';
    context.fillRect(100, 0, 100, 100);
    context.fillStyle = 'rgba(0, 255, 0, 0.5)';
    context.fillRect(0, 100, 100, 100);
    context.fillStyle = 'rgba(255, 255, 0, 0.5)';
    context.fillRect(100, 100, 100, 100);
  })();

  (function() {
    var canvas = document.querySelector('#canvas_2');
    canvas.width = 200;
    canvas.height = 200;

    var context = canvas.getContext('2d');
    context.globalAlpha = 0.5;

    context.fillStyle = 'blue';
    context.fillRect(0, 0, 100, 100);
    context.fillStyle = 'red';
    context.fillRect(100, 0, 100, 100);
    context.fillStyle = 'green';
    context.fillRect(0, 100, 100, 100);
    context.fillStyle = 'yellow';
    context.fillRect(100, 100, 100, 100);
  })();

  (function() {
    var canvas = document.querySelector('#canvas_3');
    canvas.width = 200;
    canvas.height = 200;

    var context = canvas.getContext('2d');

    context.globalAlpha = 0.5;
    context.fillStyle = 'blue';
    context.fillRect(0, 0, 100, 100);
    context.globalAlpha = 1.0;
    context.fillStyle = 'red';
    context.fillRect(100, 0, 100, 100);
    context.globalAlpha = 0.7;
    context.fillStyle = 'green';
    context.fillRect(0, 100, 100, 100);
    context.globalAlpha = 0.3;
    context.fillStyle = 'yellow';
    context.fillRect(100, 100, 100, 100);
  })();
</script>

