<% layout('layout') %>

<h1><%= title %></h1>

<div class="row">
  <div class="col-sm-12">
    <form method="post" enctype="multipart/form-data" action="/file_upload/multer_1">
      <div class="form-group">
        <label>File</label>
        <input type="file" name="file">
      </div>

      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>

